.swiper-outside-button-prev {
  bottom: -2%;
  transform: translateX(-10%);
  left: 10%;
  position: absolute;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-image: url('../../Assets/img/slider/dislike.svg');
  transform: rotate(-10deg);
  background-repeat: no-repeat;
  outline: none;
  border: none;
  background-size: 100% auto;
  background-position: center;
  cursor: pointer;
}
.swiper-outside-button-next {
  bottom: -2%;
  transform: translateX(-10%);
  right: 10%;
  position: absolute;
  z-index: 1000;
  width: 50px;
  height: 50px;
  // background-image: url('../../Assets/img/slider/heartBeat.svg');
  // background-repeat: no-repeat;
    transform: rotate(10deg);
  outline: none;
  border: none;
  // background-size: 100% auto;
  // background-position: center;
  cursor: pointer;
}

.heartbeatloader-like {
    position: absolute;
    width: 45px;
    height: 45px;
    z-index: -2;
    margin: auto;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
.svgdraw-like {
    top:0px;
    left:0px;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.4);
    z-index: 3;
}
.path-like {
    stroke: rgba(3, 3, 3, 0.95);
    stroke-width: 4;
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;    
    animation: draw-like 1.5s infinite forwards normal linear;
    animation-delay: 0.1s;
    position: relative;
}
@keyframes draw-like {
  to {
    stroke-dashoffset: 0;
  }
}
.innercircle-like {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255,5,0,0.91);
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    opacity: 0.9;
    animation: innerbeat-like 1.5s infinite linear forwards;
}
@keyframes innerbeat-like {
    0% {transform: scale(1);}
    10% {transform: scale(1);}
    50% {transform: scale(1.15);}
    60% {transform: scale(1.05);}
    75% {transform: scale(1.2);}
}
.outercircle-like {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(71,228,80,0.79);

    position: absolute;
    z-index: -1;
    opacity: 0.9;
    top:0;
    left: 0;
    transform: scale(1.2);
    animation: outerbeat-like 1.5s infinite linear forwards;
}
@keyframes outerbeat-like {
    0% {transform: scale(1.2);}
    10% {transform: scale(1.2);}
    50% {transform: scale(1.3);}
    60% {transform: scale(1.25);}
    75% {transform: scale(1.3);}
}